*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html,body {
	margin:0;

	margin-top: 80px;
	height: 100%;
	width:100%;
	background-color: pink;
}

		/*@media screen and (max-width: 600px) {

}*/


.columnscontainer, header { position: relative; margin: 10px; }

.leftcolumn, .rightcolumn, header {  
	padding: 10px; width: 45%;
}

.leftcolumn { margin-bottom: 10px;}


center {
	font-size: 40px;
	font-family: 'Cabin Sketch', cursive;
}

h1 {
	text-align: center;
	font-family: 'Cabin Sketch', cursive;
}

div {
	margin-bottom: 2px;
}

nav {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;

}

li {
	display: inline-block;
	font-size: 70px;
	list-style: none;
}

ul {
	overflow: hidden;
	background-color: pink;
	margin:0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

nav li a {
	text-decoration: none;
	color: white;
	padding: 20px;
	display: inline-block;
}


nav li a:hover {
	background-color: orange;
	color: #000;
}


ul:link {
		color: black;
	}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: white;
}

.container {
	font-family: 'Dosis', sans-serif;
	margin: 10px;
}

.name {
	font-size: 18px;
	margin-bottom: 5px;
	font-weight: bolder;
}

.description {
	margin-bottom: 3px;
}

.price {
	font-size: 13px;
}

footer {
	font-family: 'Dosis', sans-serif;
	font-size: 15px;
	text-align: center;
	margin-bottom: 20px;
}




@media screen and (min-width: 600px ) {
  .leftcolumn { margin-right: 20px; }

	.rightcolumn { position: absolute; top: 0; right: 0; width: 40%; }   
}